---
---

@import "{{ site.theme }}";
body { background-color: #383838; padding: 50px; font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #FFF5EB; font-weight: 400; }
h1, h2, h3, h4, h5, h6 { color: #FFF5EB; margin: 0 0 20px; }
h1 { font-size: 28px; }
h2 { color: #FFF5EB; }
h3, h4, h5, h6 { color: #FFF5EB; }
code, pre { font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace; color: #C6BEB6; background-color: #303030; font-size: 12px; }
